 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

nav > div > a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 25px;
    /* margin-left: 15px; */
}

.nav-button-container{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    /* align-items: center; */
    padding: 13px 5px;

}

.home-page{
    background-color:  rgba(17, 17, 17, 1);
}

.homepage-content{
    display: flex;
    justify-content: space-around;
}



.homepage-picture{
    width: 22rem;
    height: 36rem;
}
.home-content-title{
    font-size: 78px;
    font-weight:bolder;
    line-height: 1;
    margin-bottom: 28px;
}

.home-content-description{
    margin-bottom: 28px;
}




.team-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 860px;
    height: 504px;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    row-gap: 10px;
    
    
}
    .team-title{
        font-size: 48px;
        font-weight: bolder;
        /* justify-content: center; */
        /* justify-items: center; */
        align-items: center;
        margin-bottom: 20px;
        align-items: center;

        text-align: center;
    }
    .team-description{
        text-align: center;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 30px;
    }
.team-pic{
    width: 15em;
    height: 13em;
    border-radius: 20px;
    /* fill: rgba(0, 0, 0, 0.2); */
    opacity: 60%;
   
}


.description-team1{
    position: absolute;
    bottom: 270px;
    left: 25px;
    font-size: 20px ;
}
.description-team2{
    position: absolute;
    bottom: 270px;
    left: 310px;
    font-size: 20px ;
}

.description-team3{
    position: absolute;
    bottom: 270px;
    left: 600px;
    font-size: 20px ;
}
.description-team4{
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 20px ;
}
.description-team5{
    position: absolute;
    bottom: 10px;
    left: 310px;
    font-size: 20px ;
}
.description-team6{
    position: absolute;
    bottom: 10px;
    left: 600px;
    font-size: 20px ;
}








.bmi-main-section{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

#margin-id{
    margin-bottom: 30px;
}

/* shared  */

.inter-regular-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800 ;
  font-style: normal;
  color: #FFFFFF;
  font-size: 18px;
}

.inter-regular-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-color{
    background-color: black;
}


.primary-button{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    padding: 10px 20px;
    width: 92px;
    height: 38px;

}
.secondary-btn{
    background-color: rgba(230, 83, 60, 1);
    color: #FFFFFF;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    border: none;
    font-weight: 550;
    font-size: 18px;
}
.third-btn{
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    border: 1px solid white;
    font-weight: 450;
    font-size: 18px;


}

.company-name-title{
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;

}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 500;
  /* font-style: normal; */
  font-size: 90px;
  
}

.floating-info1{
    display: flex;
    flex-direction: column;
    border: 1px solid  rgba(48, 48, 48, 0.54);
    border-radius: 15px;
    width: 193px;
    height: 98px;
    

    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 220px;  
    right: -2px;   
    backdrop-filter: blur(10px);
    line-height: 0.01;
    justify-items: left;
    padding: 17px 24px;

    
}
.floating-info-description1{
    color: rgba(255, 255, 255, 0.65);
}

.floating-info-title1{
    color: rgba(255, 255, 255, 1);
    font-size:40px;
    font-weight:900;
    text-shadow:
            0 0 5px rgba(255,255,255,0.8),
            0 0 10px rgba(255,255,255,0.6),
            0 0 20px rgba(255,255,255,0.4);

}

.floating-info2{
    display: flex;
    border: 1px solid  rgba(48, 48, 48, 0.54);
    border-radius: 15px;
    width: 193px;
    height: 98px;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 17px 24px;
    position: absolute;
    right: 400px;
    top: 405px;
    backdrop-filter: blur(10px); 
    gap: 15px;
    line-height: 1;
    



}
.floating-info-descripion{
    color: rgba(239, 237, 232, 0.65);
}
.floating-info-title{
    font-size: 28px;
    font-weight:800;

}
.circle{
    background-color: rgba(230, 83, 60, 1);
    height: 40px;
    width: 40px;
    border-radius: 59px;
    align-items: center;
    margin-top: 25px;

}
.floating-info2-text{
    padding-bottom: 0px;
}

.table{
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
   
}
.table th, .table td {
  padding: 14px 16px;       
  text-align: left;    
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);  
}


/* Adds a vertical divider line to the right of the first column */
.table th, .table td {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.bmi{
    display: grid;
    grid-template-columns: repeat(2, 0.0fr);
    row-gap: 10px;
    column-gap: 10px;
}

#height{
    width: 15.69em ;
    height: 2.67em ;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    text-align: left;
    padding-left: 20px;
     padding-top: 13px;
    padding-bottom: 13px;
}
#weight{
    width: 15.69em ;
    height: 2.67em ;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    text-align: left;
    padding-left: 20px;
     padding-top: 13px;
    padding-bottom: 13px;

}
#age{
    width: 15.69em ;
    height: 2.67em ;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    text-align: left;
    padding-left: 20px;
     padding-top: 13px;
    padding-bottom: 13px;

}
#sex{
    width: 15.69em ;
    height: 2.67em ;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    text-align: left;
    padding-left: 20px;
     padding-top: 13px;
    padding-bottom: 13px;

}
#last{
    width: 15.69em ;
    height: 2.67em ;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    text-align: left;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    grid-column: span 2;
    width: 96%;
    
}









.team-section{
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    justify-items: center;
}
/* responsive */
@media screen and (max-width:430px){
.nav-button-container > a {
    display: none;
}
.homepage-content{
    flex-direction: column;
}
.button1{
    display: flex;
    gap: 10px;
    justify-content: space-between;
        margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
}

.floating-info1{

    top: 699px;
    right: 15px;

     height: 80px;
        padding-top: 0.01em;
    padding-bottom:12px;
        width: 180px;
    
}
.floating-info2{
    right: 180px;
    top: 900px;    
    width:170px;
    height: 80px;
    padding-top: 0.01em;
    padding-bottom:12px;
    line-height: 0.9;
}

 
 .team-container{
    grid-template-columns: repeat(1,1fr);
    
    width: 90%;      
    height: auto; 
    margin: 20px 10px;  
     padding: 20px 30px;
    
} 
.description-team2{
    position: absolute;
    bottom: 10px;
    left: 21px;
    font-size: 20px ;

}
.description-team3{
    position: absolute;
    bottom: -240px;
    left: 30px;
    font-size: 20px ;
    
}
.description-team4{
    position: absolute;
    bottom: -480px;
    left: 25px;
    font-size: 20px ;
}
   .description-team5{
    position: absolute;
    bottom: -730px;
    left: 30px;
    font-size: 20px ;
}
.description-team6{
    position: absolute;
    bottom: -980px;
    left: 30px;
 background-color: grey;
    font-size: 20px ;
}


    
}


   

